.form{
    
    background-color: white;
    box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-heading{
    font-size:30px;
    text-align: center;
}
.form-control{
    padding: 0px 20px;
}
.form-control label{
    font-size: 14px;
    display: block;
    margin-top: 10px;
}
.form-input{
    display: block;
    width:100%;
    padding:10px;
}


.form-btn{
   display: block;
   width:100%;
   padding:8px;
   margin-top: 10px;
   margin-bottom: 10px;
   border: none;
   font-size: 16px;
   color:white;
}
 .btn-submit{
    
background-color: rgb(83, 83, 240);
}

.btn-clear{
    background-color: rgb(80, 80, 110);
}